/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial;
}
body {
    font-size: 16px;
    list-style-type: none;
}

/* Page Styles */

.header {
    background-color: blue;
}

.navbar {
    height: 75px;
    background-color: aqua;
}

.footer {
    background-color: gray;
}

.main-section {
    display: flex;
    flex-direction: column;
    height: 85%;
}

.button-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.trip-button {
    width: 10%;
    min-height: 70px;
    min-width: 100px;
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
    font-size: 1.1rem;
}