.div-container { 
    display: flex; 
    padding-top: 2%;
    padding-bottom: 2%;
}

.div-text { 
    flex: 1; 
    padding-left: 3%;
}

.titulo {
    padding-top: 5%;
    font-size: 36px;
}

.texto {
    padding-top: 3%;
    text-align: justify;
    font-size: 36px;
}

.div-img { 
	margin-right: 2%; 
}
