.main-section {
    display: flex;
    flex-direction: column;
    height: 85%;
}

.button-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.trip-button {
    width: 15%;
    min-height: 70px;
    min-width: 100px;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
    font-size: 1.1rem;
}