.header {
    color:#1C6CE5;
    background-color: #FFFFFF;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}

.navbar ul {
    padding:0px;
    margin:0px;
    background-color:#1FA0E9;
    list-style:none;
}
.navbar ul li { display: inline; }

.navbar ul li a {
    padding: 2px 10px;
    display: inline-block;
    padding-left: 60px;
    padding-right: 60px;
    /* visual do link */
    color: #000000;
    text-decoration: none;
}
.navbar ul li a:hover {
    background-color:#65c3fa;
    color: #000000;
}

nav{
    Display:flex; 
    justify-content:center;
    font-family: 'Lato', sans-serif;
    width: auto;
    border-radius: 3px;
    background: #1b9bff;
    font-size: 36px;
}

.div-container { 
    display: flex; 
    padding-top: 2%;
    padding-bottom: 2%;
}

.div-text { 
    flex: 1; 
    padding-left: 3%;
}

.titulo {
    padding-top: 5%;
    font-size: 36px;
}

.texto {
    padding-top: 3%;
    text-align: justify;
    font-size: 36px;
}

.div-img { margin-right: 2%; } 

input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 3px solid #00f;
	-webkit-transition: 0.5s;
	border: 2px solid white;
	border-radius: 20px;
  }

  .p-all {
	width: 100%;
	margin: 8px 0;
	float: left;
	display: inline-block;
	padding: 50px;
	margin-top: -20px;
  }

  .div-all {
	width: 47%;
	height: 200px;
	display: inline-block;
  }

  .esquerda {
	float: left;
	padding: 50px;
  }

  .direita {
	float: right;
	padding: 50px;
  }

  .centralizar {
	margin: 20px 0;
	float: center;
	width: 100%;
	margin-bottom: 300px;
	padding: 50px;
  }

  .botao {
	text-align: center;
	width: 100%;
	height: 40%;
	padding: 50px;
  }

  .faixa {
	width: 100%;
	height: 10%;
	background-color: white;
	margin-top: 0%;
  }

  .rodape1 {
	float: left;
	padding: 50px;
	display: inline-block;
  }

  .rodape2 {
	float: right;
	padding: 50px;
	display: inline-block;
  }

  textarea {
	width: 100%;
	height: 300px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	font-size: 16px;
	resize: none;
  }

/* FOOTER */

footer{
	background-color: #444053;
	text-align: left;
	font: arial 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}

@media (max-height:800px){
	footer { position: static; }
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer esquerdo */

.footer-distributed .footer-left{
	width: 30%;
}

.footer-distributed h3{
	color:  #ffffff;
	font-size: 36px;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #1C6CE5;
}

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
    padding-left: 40px;
}


.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;

	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #1C6CE5;
	text-decoration: none;;
}

/* Footer direito */

.footer-distributed .footer-right{
	width: 30%;
    padding-top: 10px;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 5px;
    padding-top: 6px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

